{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Fire</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto tempore iusto distinctio aperiam provident fugit soluta dicta amet explicabo odio? Unde pariatur soluta inventore possimus maxime quidem alias mollitia provident.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/fire.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}